{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Fizzy Drinks Stat {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
</head>

<body>
    <div id="base-page">
        <div id="base-header">
            <a href="/"> <div id="base-header-logo"></div> </a>
            <div id="base-top-navigation">
                <a href="/"> Downloading </a></li>
                <a href="/waiting"> Waiting </a></li>
                <a href="/done/"> Done </a>
            </div>
        </div>
        <div id="base-content">
            {% block content %}    
            {% endblock %}
        </div>
    
        <div id="base-footer">
             powered by <a href="http://github.com/jonyrock/FizzyRest">FizzyRest</a>, 2013
        </div>
    </div>
    
</body>
</html>