{%  extends 'html/base.html' %}

{% block title %}
    Welcome to Fizzy Drinks Database
{% endblock %}

{% block content %}
    
    <div id="logos-list">
        {% if tasks.count == 0 %}
            <h2>No downloading tasks</h2>
        {% else %}
            <table>
            {% for task in tasks %}
            <tr>
                <td> {{ task.title }} </td>
                <td> {{ task.download_percentage_formatted }} %</td>
                <td> <a href="/tasks/{{ task.pk }}">details</a>  </td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
    <div id="form-task-add">
        <h3>Add file to download</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="START DOWNLOAD">
        </form>
    </div>
{% endblock %}