{%  extends 'html/base.html' %}

{% block title %}
    Welcome to Fizzy Drinks Database
{% endblock %}

{% block content %}
    
    <div id="logos-list">
        {% if data.count == 0 %}
            <h2>All tasks done for now</h2>
        {% else %}        
            <table>
            {% for t in data %}
            <tr>
                <td> {{ t.title }} </td>
                <td> {{ t.fileUrl }} </td>
                <td> {{ t.status }} </td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
    <div id="form-task-add">
        <h3>Add file to download</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value=DOWNLOAD>
        </form>
    </div>
{% endblock %}