{%  extends 'html/base.html' %}

{% block title %}
    Welcome to Fizzy Drinks Database
{% endblock %}

{% block content %}
    
    <div id="logos-list">
        {% for m in data %}
        <div class="logos-list-item">
            <a href="/manufacturers/{{ m.pk }}">
                <img src="{{ m.imageUrl }}" alt="{{ m.title }}" />
            </a>
        </div>
        {% endfor %}
    </div>
    <div id="form-manufacturer-add">
        <h3>Add new manufacturer</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
{% endblock %}