{% extends 'html/base.html' %}

{% block title %}
    Task details {{ task.title }}
{% endblock %}

{% block content %}
    <h2> {{ task.title }} </h2>
    <i>({{ task.status }})</i>
    <p>{{ task.fileUrl }}</p>
    <p>{{ task.created }}</p>
    {% if task.status == 'done' or task.status == 'downloading' %}
        <p>File size: {{ task.fileSizeBytes }}</p>
    {% endif %}
    {% if task.status == 'downloading' %}
        <p>Downloaded: {{ task.downloadedBytes }} ({{ task.download_percentage_formatted }}%)</p>
    {% endif %}
    {% if task.status == 'done' %}
        <p>{{ task.finished }}</p>
        <p>
            <a href="{{ task.download_url }}"> DOWNLOAD </a>
        </p>
    {% endif %}
    
    {% if task.status == 'error' %}
        <p style="color: darkred">
            {{ task.errorReason }}
        </p>
    {% endif %}

    <script language="javascript" type="text/javascript">
        function delete_me() {
            $.ajax({
                type: 'DELETE',
                success: function (result) {
                    document.location="/";
                }
            });
        }
    </script>

    <input type="button" value="DELETE" onclick="delete_me()">

{% endblock %}

