
html, body { font-family: Verdana, Arial, sans-serif; background: white; height: 100%; margin: 0; padding: 0 }
#base-page { width: 600px; min-height: 100%; margin: auto; position: relative; }
#base-header { height: 130px; border-bottom: 1px dotted #aaa }
#base-header-logo { height: 100px; background: url('/static/img/logo.png') center no-repeat; }
#base-top-navigation { height: 30px; }
#base-top-navigation a { background:transparent; line-height: 30px; padding: 6px; margin-right:5px; 
    text-decoration: none; color: #444 }
#base-top-navigation a:hover { background: #aaa; color:white }
#base-top-navigation a.active { background: #ff11bb; color:white }
#base-content { padding: 10px; clear: both; margin-bottom: 50px }
#base-footer { width: 100%; height: 40px; padding-top: 10px; position: absolute; 
    bottom: 0; font-size: smaller; text-align: center; border-top: 1px dotted #aaa }
#base-footer a { color: cornflowerblue; text-decoration: underline }

#form-manufacturer-add table{ border: 0; width: 100% }
#form-manufacturer-add table .td-label{ width: 25% }
#form-manufacturer-add table .td-input input { width: 100% }